## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными надстройками Visual Studio.

# Пользовательские файлы
*.suo
*.пользователь
*.sln.docstates

# Результаты сборки

[Дд] ebug/
[Rr] элеаза/
х64/
[Bb] в/
[Ооо] bj/

# Результаты теста MSTest
[Тт] est[Rr]esult*/
[Bb] uild[Ll]og.*
*.txt
*_i.c
*_p.c
*_i.ч
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Файлы кэша Visual C++
ипч/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Профилировщик Visual Studio
*.psess
*vsp-версия
*vspx-файл

# Инструментарий автоматизации руководства
*.gpState

# ReSharper — это надстройка для кодирования .NET
_ReSharper*/
*. [Rr] e[Ss]харпер
*. DotSettings.user

# Каталог Click-Once
издавать/

# Публикация веб-вывода
*. Опубликовать.xml
*.pubxml
*.azurePubxml

# Каталог пакетов NuGet
## TODO: Если у вас включено восстановление пакетов NuGet, раскомментируйте следующую строку
пакеты/
## TODO: Если для инструмента, который вы используете, требуется repositories.config, также раскомментировать следующую строку
! пакеты/репозитории.config

# Выходные данные сборки Windows Azure
csx/
*.build.csdef

# Каталог пакетов универсальных приложений Windows
Пакеты приложений/

# Другие
sql/
*. Тайник
КлиентБин/
[Сс] tyle[Cc]op.*
! [Сс] tyle[Cc]op.targets
~$*
*~
*.dbmdl
*. [Пп] ублиш.xml

*.publishsettings

# Проекты RIA/Silverlight
Generated_Code/

# Файлы резервного копирования и отчетов из преобразования старого файла проекта в новый
# Версия Visual Studio. Резервные копии файлов не нужны, потому что у нас есть git ;-)
_UpgradeReport_Files/
Резервная копия*/
ОбновлениеЛог*. XML
ОбновлениеЛог*.htm

# Файлы SQL Server
App_Data/*.mdf
App_Data/*.ldf

# =========================
# Детрит окон
# =========================

# Кэш файлов образов Windows
Большие пальцы.db
эхтумбс.db

# Файл конфигурации папки
Рабочий стол.ini

# Корзина, используемая в общих файловых папках
$RECYCLE. БУНКЕР/

# Файлы хранилища службы Mac для настольных ПК
. DS_Store

_NCrunch*